* {
  letter-spacing: .05em;
  color: #333;
}

input {
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0 2px;
  transition: all .2s;
  cursor: pointer;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
}

.input-area {
  background-color: #c6e5d9;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  border: 2px solid #aacfd0;
  border-radius: 8px;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
}

.complete-area {
  border: 2px solid #aacfd0;
  background-color: #c9dede;
  border-radius: 8px;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  letter-spacing: .05em;
}

.list-row {
  display: flex;
  align-items: center;
}

.todo-item {
  margin: 6px;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
